*
!Dockerfile
!requirements.txt
!scripts/
!scripts/check_environment.py
!sql/
!sql/*.sql
!sql/benchmark/
!sql/benchmark/*.sql
!benchmarks/
!benchmarks/*.py
!tests/
!tests/*.py
!compose.yaml
!docker/
!docker/mariadb/
!docker/mariadb/Dockerfile
!docker/mariadb/rocksdb.cnf
!compose.runner-2cpu.yaml
!scripts/run_storage.py
!scripts/run_recovery.py
!scripts/fetch_openflights.py
!sql/openflights/
!sql/openflights/*.sql
!data/
!data/openflights/
!data/openflights/manifest.json
!data/openflights/LICENSE
!data/openflights/README.md
!data/openflights/routes.dat
